.wrapper {
  display: grid;
  grid-template: 0.7fr 1fr 1fr 1fr 0.7fr;
  grid-row: 30px 500px auto;
  grid-template-areas:
  "nav nav nav nav nav"
  "header header header header header"
  "aleft about-pic content content aright"
  "aleft bcontent bcontent bcontent aright"
  "aleft con-text contact contact aright"
  "footer footer footer footer footer"
}
.top-nav {
  grid-area: nav;
  position: fixed;
  overflow: hidden;
  background-color: #292727;
  width: 100%
}
.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}
.top-nav a:hover {
  background-color: #eeeeee;
  color: #292727;
}
.top-nav a.active {
  background-color: #42576b;
  color: white;
}
.header-container {
  grid-area: header;
  width: 100%;
  position: absolute;
  margin: auto;
}

.about-pic {
  grid-area: about-pic;
}
.about {
  grid-area: content
  position: fixed;
}

.aside-left {
  grid-area: aleft;
}
.aside-right {
  grid-area: aright;
}
.competence {
  grid-area: bcontent;

}
.contact-text {
  grid-area: con-text;
}
.contact {
  grid-area: contact;
}
.footer {
  grid-area: footer;
}
