.wrapper_abou {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 30px 550px 500px auto;
  grid-template-areas:
  "nav nav nav nav nav"
  "header header header header header"
  "aleft about-pic content content aright"
  "bcontent bcontent bcontent bcontent bcontent"
  "aleft1 con-text contact contact aright1"
  "footer footer footer footer footer"
}
.wrapper_proj {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 30px 550px 500px auto;
  grid-template-areas:
  "nav nav nav nav nav"
  "header header header header header"
  "aleft projects projects projects aright"
  "footer footer footer footer footer"
}
* body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #292727;
}
.top-nav {
  grid-area: nav;
  position: fixed;
  overflow: hidden;
  background-color: #292727;
  width: 100%;
}
.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}
.top-nav a:hover {
  background-color: #eeeeee;
  color: #292727;
}
.top-nav a.active {
  background-color: #42576b;
  color: white;
}
.header-container {
  grid-area: header;
  width: 100%;
  height: 500px;
  position: static;
  margin: auto;
  border-bottom: 5px solid #292727;
}
.about-pic {
  grid-area: about-pic;
  text-align: center;
  padding-left: 10px;
}
.about {
  grid-area: content;
  text-align: center;
  padding: 10px;
}
.about p {
  font-size: 25px;
}
.headshot {
  border-radius: 50%;
  border: 5px solid #292727;
}
.aside-left {
  grid-area: aleft;
}
.aside-right {
  grid-area: aright;
}
.competence {
  grid-area: bcontent;
  background-color: lightsteelblue;
  text-align: center;
  border-top: 5px solid #292727;
  border-bottom: 5px solid #292727;


}
.contact-text {
  grid-area: con-text;
  text-align: center;
  justify-content: center;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #292727;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #42576b;
}
.contact {
  grid-area: contact;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.contact h1 {
  text-align: center;
}
.aside-left1 {
  grid-area: aleft1;
}
.aside-right1 {
  grid-area: aright1;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  -ms-flex: 50%;
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.footer {
  grid-area: footer;
  text-align: center;
  background-color: #292727;
  color: #eeeeee;
}
