.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 30px 500px auto;
  grid-template-areas:
  "nav nav nav nav nav"
  "header header header header header"
  "aleft about-pic content content aright"
  "aleft bcontent bcontent bcontent aright"
  "aleft con-text contact contact aright"
  "footer footer footer footer footer"
}
* body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* div {
  border: 3px solid black;
}
.top-nav {
  grid-area: nav;
  position: fixed;
  overflow: hidden;
  background-color: #292727;
  width: 100%
}
.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}
.top-nav a:hover {
  background-color: #eeeeee;
  color: #292727;
}
.top-nav a.active {
  background-color: #42576b;
  color: white;
}
.header-container {
  grid-area: header;
  width: 100%;
  position: absolute;
  margin: auto;
  transform: translateY(48px);
}
.headertext {
  color: #f2f2f2;
  font-size: 100px;
  padding: 8px 8px;
  position: absolute;
  bottom: 120px;
  width: 100%;
  text-align: center;
}
.subheader {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
}
.about-pic {
  grid-area: about-pic;
  text-align: center;
}
.about {
  grid-area: content;
  text-align: center;
}
.headshot {
  border-radius: 50px;
  border: 5px solid black;
}
.aside-left {
  grid-area: aleft;
}
.aside-right {
  grid-area: aright;
}
.competence {
  grid-area: bcontent;

}
.contact-text {
  grid-area: con-text;
}
.contact {
  grid-area: contact;
}
.footer {
  grid-area: footer;
}
